.nav-link {
  gap: 10px;
  display: flex;
  text-align: center;
  
}
/* #container{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
} */

/* .shows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */
.shows > div > div > img {
  object-fit: contain;
}
